<div class="row block_details_row">
    <div class="col-md-3">
        <div class="block_all_users">
            <h4>All Users</h4><span>8</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="block_all_products">
            <h4>All Products</h4><span>8</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="block_all_reviews">
            <h4>All Reviews</h4><span>8</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="block_all_contacts">
            <h4>All Contacts</h4><span>8</span>
        </div>
    </div>
</div>
