<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Row for 4 Products -->
                <div class="row">

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                        <div class="product_inner">
                            <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$670</div>
                            </div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                        <div class="product_inner">
                            <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$670</div>
                            </div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                            <div class="product_inner">
                                <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="product_content">
                                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                    <div class="product_price">$670</div>
                                </div>
                            </div>
                        </div>

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                        <div class="product_inner">
                            <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$670</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                        <div class="product_inner">
                            <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$670</div>
                            </div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                        <div class="product_inner">
                            <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$670</div>
                            </div>
                        </div>
                    </div>

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                            <div class="product_inner">
                                <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="product_content">
                                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                    <div class="product_price">$670</div>
                                </div>
                            </div>
                        </div>

                    <!-- Product -->
                    <div class="product col-md-3 col-12">
                        <div class="product_inner">
                            <div class="product_image"><img src="https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$670</div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
