.products {
    padding:100px 0;
}
.product {
    margin:auto;
    width:70%;
}
.product_inner {
    width:70%;
    margin:auto;
    padding:40px 0;
}
.product_image img{
    width: 100%;
    height: 100%;
}