.form_body {
    width: 30%;
    background:lightgrey;
    margin:auto;
    border:1px solid lightgrey;
    border-radius: 5px;
    margin-top: 250px;
}
.form_body h4 {
    text-align: center;
    color:#333;
}
.form_body input[type="text"], .form_body input[type="number"], .form_body input[type="password"] {
    width: 100%;
    margin:10px auto;
    border: 0;
    padding: 5px 0;
    text-align: center;
}
select {
    width: 100%;
    padding: 5px 0;
    color:grey;
    background: white;
    border:0;
    margin: 10px auto;
    text-align: center;
}
.form_body input[type="submit"]{
    width: 100%;
    background:grey;
    border:0;
    color:white;
    padding:10px 0;
    margin:auto;
}
.button_list {
    width: 100%;
    padding: 0;
}
.button_list input[type="button"]{
    width: 100%;
    background:transparent;
    text-align: center;
    padding:10px;
    border-radius: 8px;
}