<div>          
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Category</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Available Quantity</th>
          <th>Description</th>
          <th>Offer</th>
          <th>Average Rating</th>
          <th>Image Url</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of allproductsdata">
          <td>{{p.id}}</td>
          <td>{{p.category_name}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.available_quantity}}</td>
          <td>{{p.description}}</td>
          <td>{{p.offer}}</td>
          <td>{{p.average_rating}}</td>
          <td>{{p.img_url}}</td>
          <td><button (click)="deleteProduct(p)">&#10005;</button></td>
        </tr>
      </tbody>
    </table>
  </div>